<ul class="d-flex flex-column m-3">
  <li>
    این اطلاعات جهت تایید هویت و انجام تصفیه حساب های شما مورد استفاده قرار میگیرد.
  </li>
  <li>
    ابتدا بخش اطلاعات هویتی را تکمیل نموده و ثبت کنید، سپس با فعال شدن کلید تصویر کارت ملی و کارت بانکی خود را اپلود فرمایید.
  </li>
  <li>
    در انتها منتظر بمانید تا مدارک توسط مدیر سایت بررسی و تایید شود.
  </li>
  <li *ngIf="credential && credentialAccepted" style="color: red">
    .مدارک هویتی شما قبلا تایید شده و دیگر امکان ویرایش ندارد
  </li>
</ul>

<mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <form [formGroup]="credentialForm" class="d-flex flex-column align-items-start m-4">
        <h4 class="mb-3">اطلاعات هویتی</h4>
        <mat-form-field color="accent" hidden>
          <mat-label>شناسه</mat-label>
          <input matInput type="text" formControlName="id" />
        </mat-form-field>
        <mat-form-field appearance="fill" hidden>
          <mat-label>شناسه کاربر</mat-label>
          <input matInput type="text" formControlName="userId"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>شماره ملی</mat-label>
          <input matInput type="text" formControlName="idCardNumber" maxlength="10"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>شماره حساب بانکی</mat-label>
          <input matInput type="text" formControlName="bankAccountNumber" maxlength="40"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>شماره شبا</mat-label>
          <input matInput type="text" formControlName="bankAccountShebaNumber" maxlength="40" placeholder="مثال: IR06 2960 0000 0010 0324 2000 01"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>شماره کارت بانکی</mat-label>
          <input matInput type="text" formControlName="bankCardNumber" maxlength="40"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>نام صاحب حساب</mat-label>
          <input matInput type="text" formControlName="bankCardName" maxlength="40"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>نام بانک</mat-label>
          <input matInput type="text" formControlName="bankName" maxlength="40"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>شماره تماس اضطراری</mat-label>
          <input matInput type="text" formControlName="phone" maxlength="40"/>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          [disabled]="!credentialForm.valid || this.credentialAccepted"
          (click)="createOrEditCredential()">
          <mat-icon>edit</mat-icon>
          <span>ثبت اطلاعات</span>
        </button>

      </form>
    </div>
    <div class="col-sm">
      <div class="d-flex flex-column align-items-start m-4">
        <h4 class="mb-3">تصویر کارت ملی</h4>
        <img class="img-thumbnail" src="{{ idCardPhotoUrl }}">
        <input type="file" class="form-control-file mt-2" value="انتخاب فایل" #fileInputId>
        <button [disabled]="credentialForm.value.id == 0 || this.credentialAccepted" class="mt-2" mat-raised-button
                color="primary" type="submit"
                (click)="uploadPhoto('idcard')">
          <mat-icon>upload</mat-icon>
          اپلود
        </button>
      </div>
    </div>
    <div class="col-sm">
      <div class="d-flex flex-column align-items-start m-4">
        <h4 class="mb-3">تصویر کارت بانکی</h4>
        <img class="img-thumbnail" src="{{ bankCardPhotoUrl }}">
        <input type="file" class="form-control-file mt-2" value="انتخاب فایل" #fileInputBank>
        <button [disabled]="credentialForm.value.id == 0 || this.credentialAccepted" class="mt-2" mat-raised-button
                color="primary" type="submit"
                (click)="uploadPhoto('bankcard')">
          <mat-icon>upload</mat-icon>
          اپلود
        </button>
      </div>
    </div>
  </div>
</div>
