<mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
<form [formGroup]="passForm" (ngSubmit)="updatePassword()">
  <mat-form-field color="accent">
    <mat-label>رمز عبور قبلی</mat-label>
    <input matInput type="password" formControlName="oldPassword" maxlength="40"/>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>رمز عبور جدید</mat-label>
    <input matInput type="password" formControlName="newPassword" maxlength="40" minlength="6"/>
    <mat-error
      *ngIf="passForm.get('newPassword').hasError('minlength') && !passForm.get('newPassword').hasError('required')">
      حداقل شش کاراکتر
    </mat-error>
    <!-- <mat-error *ngIf="registerForm.get('password').hasError('pattern') && !registerForm.get('password').hasError('required')">ترکیبی از حروف کوچک، بزرگ، اعداد و علائم نگارشی حداقل ۶ کاراکتر</mat-error>-->
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>تایید رمز عبور جدید</mat-label>
    <input matInput type="password" formControlName="confirmNewPassword" [errorStateMatcher]="matcher"
           maxlength="40"/>
    <!-- <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">رمز عبور را مجدد وارد کنید</mat-error> -->
    <mat-error
      *ngIf="passForm.hasError('mismatch') && !passForm.get('confirmNewPassword').hasError('required')">عدم نطابق
    </mat-error>
  </mat-form-field>
  <div class="button">
    <button
      mat-raised-button
      color="warn"
      [disabled]="!passForm.valid"
      type="submit">
      <mat-icon>logout</mat-icon>
       تغییر رمز و خروج
    </button>
  </div>
</form>
