<app-topbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</app-topbar>
<mat-drawer-container [dir]="'rtl'">

  <mat-drawer opened #drawer mode="side">

    <app-sidebar>
      <a mat-list-item [routerLink]="['./stats']" routerLinkActive="active">
        <mat-icon>analytics</mat-icon>
        آمار
      </a>
      <a mat-list-item [routerLink]="['./courses']" routerLinkActive="active">
        <mat-icon>school</mat-icon>
        دوره ها
      </a>
      <a mat-list-item [routerLink]="['./episodes']" routerLinkActive="active">
        <mat-icon>sort</mat-icon>
        اپیزودها
      </a>
      <a mat-list-item [routerLink]="['./slider']" routerLinkActive="active">
        <mat-icon>linear_scale</mat-icon>
        اسلایدر
      </a>
      <a mat-list-item [routerLink]="['./ads']" routerLinkActive="active">
        <mat-icon>featured_video</mat-icon>
        تبلیغات
      </a>
      <a mat-list-item [routerLink]="['./landings']" routerLinkActive="active">
        <mat-icon>article</mat-icon>
        صفحات لندینگ
      </a>
      <a mat-list-item [routerLink]="['./salespersons']" routerLinkActive="active">
        <mat-icon>work</mat-icon>
        فروشنده ها
      </a>
      <a mat-list-item [routerLink]="['./coupons']" routerLinkActive="active">
        <mat-icon>local_offer</mat-icon>
        کد های تخفیف
      </a>
      <a mat-list-item [routerLink]="['./orders']" routerLinkActive="active">
        <mat-icon>receipt</mat-icon>
        فاکتور دستی
      </a>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>payment</mat-icon>
          تسویه فروشندگان
        </mat-expansion-panel-header>
        <a mat-list-item [routerLink]="['./checkouts/pending']" routerLinkActive="active">
<!--          <mat-icon>pending</mat-icon>-->
          در انتظار
        </a>
        <a mat-list-item [routerLink]="['./checkouts/done']" routerLinkActive="active">
<!--          <mat-icon>task_alt</mat-icon>-->
          انجام شده
        </a>
      </mat-expansion-panel>
      <a mat-list-item [routerLink]="['./reviews']" routerLinkActive="active">
        <mat-icon>comment</mat-icon>
        نظرات
      </a>
      <a mat-list-item [routerLink]="['./configs']" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        تنظیمات
      </a>
      <a mat-list-item [routerLink]="['./app-upload']" routerLinkActive="active">
        <mat-icon>upload</mat-icon>
        اپلود نسخه موبایل
      </a>
      <a mat-list-item [routerLink]="['./password']" routerLinkActive="active">
        <mat-icon>password</mat-icon>
        تغییر رمز عبور
      </a>
    </app-sidebar>
  </mat-drawer>
  <mat-drawer-content [class.close]="!opened">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
