mat-drawer-container {
  height: calc(100% - 64px);
}

mat-drawer {
  width: 230px;
}

a.mat-list-item.active { background-color: lightgray; }

mat-expansion-panel-header {
  margin-left: 0px;
  padding: 1em;
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0 !important;
}

mat-icon {
  margin-left: 5px;
}
