@import '~@angular/material/theming';
@import url(../src/assets/landings/css/font.scss);
@import url(../src/assets/bootstrap.min.css);

$custom-typography: mat-typography-config(
  $font-family: iranyekan,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: iranyekan;
}

.spacer {
  flex: 1 1 auto;
}

