@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Sahel',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Sahel;
}

.spacer {
  flex: 1 1 auto;
}

