<app-topbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</app-topbar>
<mat-drawer-container [dir]="'rtl'" class="drawer">
  <mat-drawer #drawer mode="side" opened style="width: 200px;">
    <app-sidebar>
      <a mat-list-item [routerLink]="['./orders']" routerLinkActive="active">
        <mat-icon>payment</mat-icon>
        تراکنش های کوپن
      </a>
      <a mat-list-item [routerLink]="['./checkouts']" routerLinkActive="active">
        <mat-icon>credit_score</mat-icon>
        درخواست های تصفیه
      </a>
      <a mat-list-item [routerLink]="['./credentials']" routerLinkActive="active">
        <mat-icon>verified_user</mat-icon>
        مدارک هویتی
      </a>
    </app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

