<ion-content [fullscreen]="true">
  <ion-list dir="rtl" *ngIf="basket">
    <ion-item *ngFor="let course of basket.courseDtos">
      <ion-thumbnail slot="start">
        <img src="{{ course.pictureUrl }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{course.name}}</h2>
        <p>
          {{course.description}}
          <span style="float: left"><small>{{course.price | number}} تومان</small></span>
        </p>
      </ion-label>
      <ion-button (click)="removeCourseFromBasket(course)">حذف</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="basket?.courseDtos?.length > 0">
  <div class="footer">
    <ion-button slot="" (click)="CreateOrder()">
      نهایی کردن خرید
    </ion-button>
    <ion-label color="primary">
      {{totalPrice}} هزینه مجموعه:
    </ion-label>
  </div>
</ion-footer>
