<mat-toolbar>
  <mat-form-field appearance="standard" class="select-input">
    <mat-label>فیلتر</mat-label>
    <mat-select [(value)]="credStatus">
      <mat-option value="" selected>همه</mat-option>
      <mat-option value="unaccepted">غیرفعال</mat-option>
      <mat-option value="pending">در انتظار</mat-option>
      <mat-option value="accepted">فعال</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="refresh()">نمایش</button>

  <span class="spacer"></span>

  <mat-form-field appearance="outline" class="search-input">
    <mat-label>جستجو</mat-label>
    <input matInput [(ngModel)]="searchString" placeholder="نام کاربری، نام و نام خانوادگی و ..">
  </mat-form-field>

  <button mat-mini-fab color="primary" style="transform: scale(0.6);" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="basic" style="transform: scale(0.6)" (click)="clearSearch()">
    <mat-icon>keyboard_return</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-mini-fab color="accent" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<span *ngIf="!dialogActive">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
</span>

<table mat-table [dataSource]="salespersons">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>شناسه</th>
    <td mat-cell *matCellDef="let salesperson"> {{salesperson.id}} </td>
  </ng-container>
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>نام کاربری</th>
    <td mat-cell *matCellDef="let salesperson"> {{salesperson.userName}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>نام</th>
    <td mat-cell *matCellDef="let salesperson"> {{salesperson.firstName + salesperson.lastName}}</td>
  </ng-container>
  <ng-container matColumnDef="percentage">
    <th mat-header-cell *matHeaderCellDef>سهم از فروش</th>
    <td mat-cell *matCellDef="let salesperson"> {{salesperson.salePercentageOfSalesperson}}%</td>
  </ng-container>
  <ng-container matColumnDef="couponDiscount">
    <th mat-header-cell *matHeaderCellDef>تخفیف کوپن</th>
    <td mat-cell *matCellDef="let salesperson"> {{salesperson.discountPercentageOfSalesperson}}%</td>
  </ng-container>
  <ng-container matColumnDef="currentSale">
    <th mat-header-cell *matHeaderCellDef>حساب (ریال)</th>
    <td mat-cell *matCellDef="let salesperson"> {{salesperson.currentSalesOfSalesperson | number}}</td>
  </ng-container>
  <ng-container matColumnDef="totalSale">
    <th mat-header-cell *matHeaderCellDef>تصفیه شده (ریال)</th>
    <td mat-cell *matCellDef="let salesperson"> {{salesperson.totalSalesOfSalesperson | number}}</td>
  </ng-container>
  <ng-container matColumnDef="accepted">
    <th mat-header-cell *matHeaderCellDef>امکان تسویه حساب</th>
    <td mat-cell *matCellDef="let salesperson">
      <button mat-stroked-button color="primary" *ngIf="salesperson.credentialAccepted">فعال</button>
      <button mat-stroked-button color="warn" *ngIf="!salesperson.credentialAccepted">غیر فعال</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let salesperson">
      <div class="actions">
        <button matTooltip="ویرایش درصدها" class="action" mat-mini-fab color="primary" style="transform: scale(0.6);"
                (click)="openEditDialog(salesperson)">
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="مشخصات هویتی" class="action" mat-mini-fab color="primary" style="transform: scale(0.6);"
                (click)="openCredsDialog(salesperson)">
          <mat-icon>perm_identity</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let salesperson; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="changePage()">
</mat-paginator>
