<mat-toolbar>
    <input type="number" class="form-control" style="width: 150px;" min="1" [(ngModel)]="courseId" placeholder="شناسه دوره">
    <button mat-flat-button color="primary" style="margin-right: 6px;" (click)="getEpisodes()" [disabled]="!courseId">
        انتخاب دوره
    </button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="addOrEditDialog(null)" [disabled]="!addEnabled">
        اپیزود جدید
    </button>
</mat-toolbar>

<span *ngIf="!dialogActive">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
</span>

<mat-table cdkDropList [dataSource]="episodes" (cdkDropListDropped)="drop($event)" [cdkDropListData]="episodes">
    <ng-container matColumnDef="handle">
        <mat-header-cell *matHeaderCellDef class="test"></mat-header-cell>
        <mat-cell *matCellDef="let episode">
            <div class="example-handle" cdkDragHandle>
                <button mat-icon-button>
                    <mat-icon>drag_handle</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>شناسه</mat-header-cell>
        <mat-cell *matCellDef="let episode"> {{episode.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>عنوان اپیزود</mat-header-cell>
        <mat-cell *matCellDef="let episode"> {{episode.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>مبلغ تکی</mat-header-cell>
        <mat-cell *matCellDef="let episode"> {{episode.price | number}} ریال</mat-cell>
    </ng-container>
  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef>زمان دوره</mat-header-cell>
    <mat-cell *matCellDef="let episode"> {{episode.totalAudiosDuration}}</mat-cell>
  </ng-container>
    <ng-container matColumnDef="sort">
        <mat-header-cell *matHeaderCellDef>ترتیب نمایش</mat-header-cell>
        <mat-cell *matCellDef="let episode"> {{episode.sort}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let episode">
            <!--        <button class="action" mat-stroked-button color="primary" (click)="openDetailDialog(episode)">-->
            <!--          جزئیات-->
            <!--        </button>-->
            <button class="action" mat-flat-button color="primary"
                    (click)="addOrEditDialog(episode)">
                ویرایش
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let episode; columns: columnsToDisplay" cdkDrag></mat-row>
</mat-table>
