<mat-toolbar *ngIf="salesperson">
  <span> {{ 'کوپن فروشندگی شما:  ' + salesperson.couponCode }} </span>
  <span class="spacer"></span>
  <button mat-mini-fab color="accent" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<ul class="d-flex flex-column m-3" *ngIf="salesAmount < checkoutThreshold || credentialAccepted != null">
  <li *ngIf="salesAmount < checkoutThreshold" style="color: red">میزان تراکنش های شما به حد نصاب
    نرسیده است.
  </li>
  <li *ngIf="!credentialAccepted" style="color: red">
    جهت ثبت تسویه حساب مدارک هویتی خود را تکمیل نموده و منتظر بمانید توسط مدیر سایت بررسی و تایید گردد.
  </li>
</ul>
<mat-toolbar>
  <span class="mx-1">سهم شما:</span>
  <span class="mx-1">{{salesAmount | number}}</span>
  <span>ریال</span>
  <span class="spacer"></span>
  <button class="mx-1" mat-raised-button color="primary" (click)="createCheckout()"
          [disabled]="salesAmount < checkoutThreshold || !credentialAccepted">
    ثبت درخواست تسویه حساب
  </button>
</mat-toolbar>

<span>
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
</span>

<table mat-table [dataSource]="orders">
  <ng-container matColumnDef="priceToPay">
    <th mat-header-cell *matHeaderCellDef>مبلغ پرداختی</th>
    <td mat-cell *matCellDef="let order"> {{order.price | number}} ریال</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>تاریخ تراکنش</th>
    <td mat-cell *matCellDef="let order"> {{order.date | PersianDate :false }} </td>
  </ng-container>

  <ng-container matColumnDef="salespersonShareAmount">
    <th mat-header-cell *matHeaderCellDef>سهم فروشنده</th>
    <td mat-cell *matCellDef="let order"> {{order.salespersonShareAmount | number}} ریال</td>
  </ng-container>

  <ng-container matColumnDef="basketItemsNames">
    <th mat-header-cell *matHeaderCellDef>عنوان دوره خریداری شده</th>
    <td mat-cell *matCellDef="let order">
      <mat-chip-list>
        <mat-chip *ngFor="let name of order.courses">{{name}}</mat-chip>
        <!--        <mat-chip>{{order.courses[0]}}</mat-chip>-->
      </mat-chip-list>
    </td>
  </ng-container>

  <!--  <ng-container matColumnDef="salespersonSharePaid">-->
  <!--    <th mat-header-cell *matHeaderCellDef>وضعیت تصفیه</th>-->
  <!--    <td mat-cell *matCellDef="let order">-->
  <!--      <button mat-stroked-button color="accent" *ngIf="order.salespersonSharePaid === true">پرداخت شده</button>-->
  <!--      <button mat-stroked-button color="primary" *ngIf="order.salespersonSharePaid === false">عدم تصفیه</button>-->
  <!--    </td>-->
  <!--  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let order; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="changePage()">
</mat-paginator>
