<mat-toolbar>
  <button mat-raised-button color="primary" (click)="openAddOrEditDialog(null)">
    افزودن
  </button>

  <span class="spacer"></span>

  <input type="text" class="form-control" style="width: 300px;" [(ngModel)]="searchString" placeholder="جستجوی عنوان">
  <button mat-flat-button color="primary" style="margin-right: 6px;" (click)="search()">
    جستجو
  </button>
  <button mat-stroked-button color="basic" style="margin-right: 6px;" (click)="clearSearch()">
    بازگشت
  </button>
</mat-toolbar>

<span *ngIf="!dialogActive">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
</span>

<table mat-table [dataSource]="courses">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>شناسه</th>
    <td mat-cell *matCellDef="let course"> {{course.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>عنوان دوره</th>
    <td mat-cell *matCellDef="let course"> {{course.name}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>مبلغ کل</th>
    <td mat-cell *matCellDef="let course"> {{course.price | number}} ریال</td>
  </ng-container>
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>لوگو</th>
    <td mat-cell *matCellDef="let course">
      <img src="{{ baseUrl + course.id + '/' + course.photoFileName }}" *ngIf="course.photoFileName">
      <span *ngIf="!course.photoFileName">بدون عکس</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let course">
      <!--        <button class="action" mat-stroked-button color="primary" (click)="openDetailDialog(course)">-->
      <!--          جزئیات-->
      <!--        </button>-->
      <button class="action" mat-flat-button color="primary" style="float: left;" (click)="openAddOrEditDialog(course)">
        ویرایش
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let course; columns: columnsToDisplay"></tr>
</table>
