<mat-toolbar>
  <button mat-raised-button color="primary" (click)="openAddOrEditDialog(null)">
    افزودن دوره جدید
  </button>
  <button mat-raised-button color="primary" (click)="openCategoriesDialog()" style="margin-right: 1em;">
    دسته بندی ها
  </button>


  <span class="spacer"></span>

  <mat-form-field appearance="outline" class="search-input">
    <mat-label>جستجو</mat-label>
    <input matInput [(ngModel)]="searchString" placeholder="جستجو درعناوین، مدرسین یا توضیحات">
  </mat-form-field>
  <button matTooltip="جستجو" mat-mini-fab color="primary" style="transform: scale(0.6);" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
  <button matTooltip="همه موارد" mat-mini-fab color="basic" style="transform: scale(0.6);" (click)="clearSearch()">
    <mat-icon>keyboard_return</mat-icon>
  </button>
</mat-toolbar>

<span *ngIf="!dialogActive">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
</span>

<table mat-table [dataSource]="courses">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>شناسه</th>
    <td mat-cell *matCellDef="let course"> {{course.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>عنوان دوره</th>
    <td mat-cell *matCellDef="let course"> {{course.name}} </td>
  </ng-container>
  <ng-container matColumnDef="instructor">
    <th mat-header-cell *matHeaderCellDef>مدرس دوره</th>
    <td mat-cell *matCellDef="let course"> {{course.instructor}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>مبلغ کل</th>
    <td mat-cell *matCellDef="let course"> {{course.price | number}} ریال</td>
  </ng-container>
  <ng-container matColumnDef="watingTime">
    <th mat-header-cell *matHeaderCellDef>شیوه پخش</th>
    <td mat-cell *matCellDef="let course">
      <span *ngIf="course.waitingTimeBetweenEpisodes == 0">بدون محدودیت</span>
      <span *ngIf="course.waitingTimeBetweenEpisodes > 0">روزانه {{course.waitingTimeBetweenEpisodes}} اپیزود</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="categories">
    <th mat-header-cell *matHeaderCellDef>دسته بندی ها</th>
    <td mat-cell *matCellDef="let course">
      <mat-chip-list>
        <mat-chip *ngFor="let category of course.categories">{{category.title}}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>امکان خرید</th>
    <td mat-cell *matCellDef="let course">
      <button mat-stroked-button color="primary" *ngIf="course.isActive">فعال</button>
      <button mat-stroked-button color="warn" *ngIf="!course.isActive">غیر فعال</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>لوگو</th>
    <td mat-cell *matCellDef="let course">
      <img src="{{ baseUrl + course.id + '/' + course.photoFileName }}" *ngIf="course.photoFileName">
      <span *ngIf="!course.photoFileName">بدون عکس</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let course">
      <div class="actions">
        <button matTooltip="ویرایش" mat-mini-fab color="primary" (click)="openAddOrEditDialog(course)">
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="لیست اپیزودها" mat-mini-fab color="accent" [routerLink]="['../episodes', course.id]">
          <mat-icon>sort</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let course; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="changePage()">
</mat-paginator>
