.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background: #FEFEFD;
}

mat-card {
  min-width: 250px;
  background: lightgrey;
  margin-bottom: 1em;
}

mat-card mat-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

button, a {
  width: 100%;
  font-weight: 900;
  margin-bottom: 10px;
}

h4 {
  font-weight: 900;
  margin-bottom: 1em;
  text-align: center;
  color: #522C85;
}

h3 {
  font-weight: 900;
  margin-bottom: 1em;
  text-align: center;
  background: -webkit-linear-gradient(#5935B7, #A248E4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  width: 100%;
  max-width: 400px;
}
