<mat-toolbar [dir]="'rtl'">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container [dir]="'rtl'">
  <mat-drawer
    [opened]="opened"
    #drawer
    mode="over"
    [ngClass]="{
      sidenav: !mobileQuery.matches,
      'sidenav-mobile': mobileQuery.matches
    }"
  >
    <div
      class="h-100 d-flex flex-column justify-content-center align-items-center"
    >
      <a href="https://github.com/armannm">
        <img
          class="social-icon"
          src="../../assets/github.png"
          alt="github icon"
        />
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content [class.close]="!opened">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm buttons-half centered">
          <div class="titles d-flex d-lg-none">
            <img src="assets/logo.png" />
            <h4>دموی پروژه ادمین پنل</h4>
            <h5>
              بخشی از فرآیند های داشبورد در محیط دمو قابل استفاده نمی باشند
            </h5>
          </div>
          <div class="buttons">
            <mat-card [dir]="'rtl'">
              <mat-card-content>
                <a
                  class="dl-link"
                  target="_blank"
                  mat-raised-button
                  href="{{ latest }}"
                  >دانلود آخرین نسخه نرم افزار</a
                >
                <a class="sales-link" mat-flat-button [routerLink]="['/login']"
                  >ورود به سیستم</a
                >
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col-sm logo-half centered d-none d-lg-flex">
          <img src="assets/logo.png" />
          <h4>دموی پروژه ادمین پنل</h4>
          <h5>بخشی از فرآیند های داشبورد در محیط دمو قابل استفاده نمی باشند</h5>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
