.centered-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  min-width: 300px;
}

mat-card mat-card-content form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

mat-card-title, mat-card-subtitle {
  text-align: center;
  font-weight: 900;
}

button, a {
  width: 100%;
  font-weight: 900;
}
