<mat-toolbar [dir]="'rtl'" color="primary">
  <ng-content></ng-content>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="user-icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item disabled>
      <mat-icon>account_circle</mat-icon>
      <span>{{ currentUser }}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>خروج از سیستم</span>
    </button>
  </mat-menu>
</mat-toolbar>
