<mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs backgroundColor="primary" dir="rtl">
  <mat-tab label="کد تخفیف">
    <form [formGroup]="couponForm" (ngSubmit)="createOrEditCoupon()">
      <mat-form-field color="accent" hidden>
        <mat-label>شناسه</mat-label>
        <input matInput type="text" formControlName="id"/>
      </mat-form-field>
      <mat-form-field color="accent" hidden>
        <mat-label>کد</mat-label>
        <input matInput type="text" formControlName="code"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>توضیحات</mat-label>
        <textarea rows="5" matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>درصد تخفیف</mat-label>
        <input matInput type="number" formControlName="discountPercentage"/>
      </mat-form-field>
      <mat-slide-toggle class="mt-2 mb-3" formControlName="isActive">فعال بودن کد</mat-slide-toggle>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!couponForm.valid"
        type="submit">
        <mat-icon *ngIf="data.coupon">edit</mat-icon>
        <mat-icon *ngIf="!data.coupon">add</mat-icon>
        <span *ngIf="data.coupon">ویرایش</span>
        <span *ngIf="!data.coupon">درج دوره جدید</span>
      </button>
    </form>
  </mat-tab>
</mat-tab-group>
<mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
