<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <p>{{error}}</p>
    <ion-item>
      <ion-label>ایمیل</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>رمز عبور</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button ion-button type="submit">ورود</ion-button>
  </form>

  <ion-button [routerLink]="['/register']">اکانت جدید بساز</ion-button>
</ion-content>