<mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs backgroundColor="primary" dir="rtl">
  <mat-tab label="پردازش درخواست معرف">

    <mat-form-field appearance="fill" >
      <mat-label>شماره حساب</mat-label>
      <input matInput [(ngModel)]="checkout.user.salespersonCredential.bankAccountNumber" disabled>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>شماره شبا</mat-label>
      <input matInput [(ngModel)]="checkout.user.salespersonCredential.bankAccountShebaNumber" disabled>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>شماره تماس ضروری</mat-label>
      <input matInput [(ngModel)]="checkout.user.salespersonCredential.phone" disabled>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>رسید پرداخت</mat-label>
      <input matInput [(ngModel)]="paymentReceipt">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addPaymentReceipt()">
      اتمام درخواست
    </button>
  </mat-tab>
  <mat-tab label="تصویر کارت بانکی">
    <div class="d-flex flex-column align-items-start">
      <img src="{{ baseUrl + checkout.user.salespersonCredential.id + '/' + checkout.user.salespersonCredential.bankCardPhoto.fileName }}" *ngIf="checkout.user.salespersonCredential.bankCardPhoto.fileName">
    </div>
  </mat-tab>
</mat-tab-group>

<mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
