<mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs backgroundColor="primary" dir="rtl">
  <mat-tab label="پردازش درخواست معرف">
    <table *ngIf="checkout">
      <tr>
        <td class="cred-info-key">نام صاحب حساب</td>
        <td>{{checkout.user.salespersonCredential.bankCardName}}</td>
      </tr>
      <tr>
        <td class="cred-info-key">شماره ملی</td>
        <td>{{checkout.user.salespersonCredential.idCardNumber}}</td>
      </tr>
      <tr>
        <td class="cred-info-key">شماره تماس ضروری</td>
        <td>{{checkout.user.salespersonCredential.phone}}</td>
      </tr>
      <tr>
        <td class="cred-info-key">نام بانک</td>
        <td>{{checkout.user.salespersonCredential.bankName}}</td>
      </tr>
      <tr>
        <td class="cred-info-key">شماره کارت بانکی</td>
        <td>{{checkout.user.salespersonCredential.bankCardNumber}}</td>
      </tr>
      <tr>
        <td class="cred-info-key">شماره حساب بانکی</td>
        <td>{{checkout.user.salespersonCredential.bankAccountNumber}}</td>
      </tr>
      <tr>
        <td class="cred-info-key">شماره شبا</td>
        <td>{{checkout.user.salespersonCredential.bankAccountShebaNumber}}</td>
      </tr>
    </table>

    <mat-form-field appearance="fill">
      <mat-label>رسید پرداخت</mat-label>
      <input matInput [(ngModel)]="paymentReceipt">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addPaymentReceipt()">
      اتمام درخواست
    </button>
  </mat-tab>
  <mat-tab label="تصویر کارت بانکی">
    <div class="d-flex flex-column align-items-start" *ngIf="checkout">
      <img src="{{ bankCardImgUrl }}" *ngIf="checkout.user.salespersonCredential.bankCardPhoto.fileName">
    </div>
  </mat-tab>

  <mat-tab label="تصویر رسید پرداخت">
    <div class="d-flex flex-column align-items-start" *ngIf="checkout">
      <img src="{{ receiptImgUrl }}" *ngIf="checkout.receiptPhoto">
      <input type="file" class="form-control-file mt-2" value="انتخاب فایل" #fileInput>
      <button class="mt-2" mat-raised-button color="primary" type="submit" (click)="uploadPhoto()">
        اپلود
      </button>
    </div>
  </mat-tab>

</mat-tab-group>

<mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
