<div class="spinner" *ngIf="courses.length === 0">
  <ion-spinner></ion-spinner>
</div>


<ion-list dir="rtl" *ngIf="courses.length !== 0">
  <ion-item *ngFor="let course of courses" (click)="toggleCourseDetail(course.id)">
    <ion-thumbnail slot="start">
      <img src="{{course.pictureUrl}}" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{course.name}}</h2>
      <p>
        {{course.description}}
        <span style="float: left;"><small>{{course.price | number }} تومان</small></span>
      </p>
    </ion-label>
  </ion-item>
</ion-list>