<mat-toolbar>
  <button mat-raised-button color="primary" (click)="openAddOrEditDialog(null)">
    افزودن اعلان جدید
  </button>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="openUserMessagesDialog()" style="margin-right: 1em;">
    نمایش اعلان ها از دید کاربر
  </button>
</mat-toolbar>

<span *ngIf="!dialogActive">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
</span>

<div style="height: 500px; font-size: small;">
  <table mat-table [dataSource]="messages">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>شناسه</th>
      <td mat-cell *matCellDef="let message"> {{message.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>عنوان</th>
      <td mat-cell *matCellDef="let message"> {{message.title}} </td>
    </ng-container>
    <ng-container matColumnDef="messageType">
      <th mat-header-cell *matHeaderCellDef>نوع اعلان</th>
      <td mat-cell *matCellDef="let message">
        <button mat-stroked-button color="primary" *ngIf="message.messageType == 0">اعلان عمومی</button>
        <button mat-stroked-button color="accent" *ngIf="message.messageType == 2">پروموت دوره های رایگان</button>
        <button mat-stroked-button color="accent" *ngIf="message.messageType == 3">پروموت خرید دوره</button>
        <button mat-stroked-button color="accent" *ngIf="message.messageType == 4">پروموت تخفیف</button>
        <button mat-stroked-button color="accent" *ngIf="message.messageType == 1">اعلان کاربر</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="courseId">
      <th mat-header-cell *matHeaderCellDef>شناسه دوره</th>
      <td mat-cell *matCellDef="let message"> {{message.courseId}}</td>
    </ng-container>
    <ng-container matColumnDef="repeatAfterHour">
      <th mat-header-cell *matHeaderCellDef>محدوده ارسال نوتیف</th>
      <td mat-cell *matCellDef="let message"> {{message.repeatAfterHour}} </td>
    </ng-container>
    <ng-container matColumnDef="isRepeatable">
      <th mat-header-cell *matHeaderCellDef>تکرار</th>
      <td mat-cell *matCellDef="let message">
        <button mat-stroked-button color="primary" *ngIf="message.isRepeatable">فعال</button>
        <button mat-stroked-button color="warn" *ngIf="!message.isRepeatable">غیر فعال</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="sendPush">
      <th mat-header-cell *matHeaderCellDef>ارسال پوش نوتیف</th>
      <td mat-cell *matCellDef="let message">
        <button mat-stroked-button color="primary" *ngIf="message.sendPush">فعال</button>
        <button mat-stroked-button color="warn" *ngIf="!message.sendPush">غیر فعال</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="sendInApp">
      <th mat-header-cell *matHeaderCellDef>ارسال داخل برنامه</th>
      <td mat-cell *matCellDef="let message">
        <button mat-stroked-button color="primary" *ngIf="message.sendInApp">فعال</button>
        <button mat-stroked-button color="warn" *ngIf="!message.sendInApp">غیر فعال</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let message">
        <div class="actions">
          <button matTooltip="ویرایش" mat-mini-fab color="primary" (click)="openAddOrEditDialog(message)">
            <mat-icon>edit</mat-icon>
          </button>
          <button matTooltip="حذف" class="action" mat-mini-fab color="warn"
                  (click)="deleteMessage(message.id)" style="transform: scale(0.6);">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let message; columns: columnsToDisplay"></tr>
  </table>
</div>
