<mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs backgroundColor="primary" dir="rtl">
  <mat-tab label="اطلاعات پایه">
    <form [formGroup]="episodeForm" (ngSubmit)="createOrEditEpisode()">
      <mat-form-field color="accent" hidden>
        <input matInput type="text" formControlName="courseId"/>
      </mat-form-field>
      <mat-form-field color="accent" hidden>
        <input matInput type="text" formControlName="id"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>عنوان</mat-label>
        <input matInput type="text" formControlName="name"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>توضیحات</mat-label>
        <textarea rows="5" matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>مبلغ</mat-label>
        <input matInput type="number" formControlName="price"/>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!episodeForm.valid"
        type="submit">
        <span *ngIf="data.episode">ویرایش</span>
        <span *ngIf="!data.episode">درج اپیزود جدید</span>
      </button>

    </form>

  </mat-tab>
  <mat-tab label="فایل های صوتی" *ngIf="data.episode">
    <div class="mt-2">
      <p *ngIf="audioFiles.length == 0">فایلی آپلود نشده است.</p>
      <table class="audio-files" *ngIf="audioFiles.length > 0">
        <tr>
          <th>عنوان فایل</th>
          <th>زمان</th>
        </tr>
        <tr *ngFor="let audioFile of audioFiles">
          <td>{{audioFile.fileName.split("_", 3)[2]}}</td>
          <td>{{audioFile.duration | duration}}</td>
        </tr>
      </table>
    </div>
    <input type="file" class="form-control-file mt-2" value="انتخاب فایل" #fileInput multiple>
    <div class="d-flex justify-content-between">
      <button class="mt-2" mat-raised-button color="primary" type="submit" (click)="uploadAudios()">
        اپلود
      </button>
      <button class="mt-2" mat-raised-button color="warn" type="submit" (click)="deleteEpisodeAudios()">
        حذف فایل ها
      </button>
    </div>
    <div class="upload-bar" *ngIf="showProgressBar">
      <span>{{ counter }}/{{ totalItems }}</span>
      <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
      <button mat-icon-button>
        <mat-icon (click)="cancelUpload()"
                  *ngIf="showProgressBar">cancel
        </mat-icon>
      </button>
    </div>

  </mat-tab>
</mat-tab-group>
