<mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs backgroundColor="primary" dir="rtl">
  <mat-tab label="اطلاعات پایه">
    <form [formGroup]="courseForm" (ngSubmit)="createOrEditCourse()">
      <mat-form-field color="accent" hidden>
        <mat-label>شناسه</mat-label>
        <input matInput type="text" formControlName="id"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>عنوان</mat-label>
        <input matInput type="text" formControlName="name"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>مدرس دوره</mat-label>
        <input matInput type="text" formControlName="instructor"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>توضیحات</mat-label>
        <textarea rows="5" matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ترتیب پخش</mat-label>
        <mat-select formControlName="waitingTimeBetweenEpisodes">
          <mat-option value="0">بدون محدودیت زمانی</mat-option>
          <mat-option value="1">هر روز یک اپیزود</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>نوع محتوا</mat-label>
        <mat-select formControlName="courseType">
          <mat-option value="1">دوره</mat-option>
          <mat-option value="2">کتاب صوتی</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>دسته بندی ها</mat-label>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let category of categories"
            [selectable]="'true'"
            [removable]="'true'"
            (removed)="remove(category)">
            {{category.title}}
            <mat-icon matChipRemove *ngIf="'true'">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="دسته بندی جدید"
            #categoryInput
            [formControl]="categoryCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{category.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>مبلغ</mat-label>
        <input matInput type="number" formControlName="price"/>
      </mat-form-field>
      <mat-slide-toggle class="mt-2 mb-3" formControlName="isFeatured">فعال کردن دوره منتخب</mat-slide-toggle>
      <mat-slide-toggle class="mt-2 mb-3" formControlName="isActive">فعال برای خرید</mat-slide-toggle>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!courseForm.valid"
        type="submit">
        <span *ngIf="data.course">ویرایش</span>
        <span *ngIf="!data.course">درج دوره جدید</span>
      </button>

    </form>

  </mat-tab>
  <mat-tab label="لوگو" *ngIf="data.course">
    <div class="d-flex flex-column align-items-start">
      <img src="{{ imgUrl }}" *ngIf="data.course.photoFileName">
      <input type="file" class="form-control-file mt-2" value="انتخاب فایل" #fileInput>
      <button class="mt-2" mat-raised-button color="primary" type="submit" (click)="uploadPhoto()">
        اپلود
      </button>
    </div>
  </mat-tab>
</mat-tab-group>

<mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>

<!--{{ courseForm.value | json }}-->
<!--{{ categories | json }}-->
