<mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs backgroundColor="primary" dir="rtl">
  <mat-tab label="اطلاعات فروشنده">
    <!--    {{data.salesperson | json}}-->
    <form [formGroup]="spForm" (ngSubmit)="updateSalesperson()">
      <input type="text" formControlName="id" hidden/>
      <mat-form-field appearance="fill">
        <mat-label>درصد تخفیف کوپن</mat-label>
        <input matInput type="number" formControlName="discountPercentageOfSalesperson"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>درصد سهم فروشنده از هر خرید</mat-label>
        <input matInput type="number" formControlName="salePercentageOfSalesperson"/>
      </mat-form-field>
      <button mat-flat-button color="primary">ویرایش</button>
    </form>
  </mat-tab>
</mat-tab-group>

<mat-progress-bar style="margin-top: 10px;" color="accent" mode="indeterminate"
                  *ngIf="spinnerService.visibility | async"></mat-progress-bar>
