.add {
  margin: 1em;
}

.actions {
  float: left;
}

.actions button {
  opacity: 70%;
  transform: scale(0.6);
}

.actions button:hover {
  opacity: 100%;
}

table {
  width: 100%;
}

img {
  width: 40px;
  height: 40px;
}
