<mat-toolbar>
  <button mat-raised-button color="primary" (click)="openAddOrEditDialog(null)">
    افزودن اسلایدر جدید
  </button>
  <span class="spacer"></span>
</mat-toolbar>

<span *ngIf="!dialogActive">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
</span>

<table mat-table [dataSource]="sliderItems">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>شناسه</th>
    <td mat-cell *matCellDef="let sliderItem"> {{sliderItem.id}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>عنوان</th>
    <td mat-cell *matCellDef="let sliderItem"> {{sliderItem.title}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>توضیحات</th>
    <td mat-cell *matCellDef="let sliderItem">{{ sliderItem.description }}</td>
  </ng-container>
  <ng-container matColumnDef="courseId">
    <th mat-header-cell *matHeaderCellDef>کد دوره</th>
    <td mat-cell *matCellDef="let sliderItem">
      <span *ngIf="sliderItem.courseId">{{ sliderItem.courseId }}</span>
      <span *ngIf="!sliderItem.courseId">ندارد</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef>لینک خروجی</th>
    <td mat-cell *matCellDef="let sliderItem">
      <span *ngIf="sliderItem.link">{{ sliderItem.link }}</span>
      <span *ngIf="!sliderItem.link">ندارد</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>وضعیت نمایش</th>
    <td mat-cell *matCellDef="let sliderItem">
      <button mat-stroked-button color="primary" *ngIf="sliderItem.isActive">فعال</button>
      <button mat-stroked-button color="warn" *ngIf="!sliderItem.isActive">غیر فعال</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>کاور</th>
    <td mat-cell *matCellDef="let sliderItem">
      <img src="{{ baseUrl + sliderItem.photoFileName }}" *ngIf="sliderItem.photoFileName">
      <span *ngIf="!sliderItem.photoFileName">بدون عکس</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let sliderItem">
      <div class="actions">
        <button matTooltip="ویرایش" mat-mini-fab color="primary" style="transform: scale(0.6);"
                (click)="openAddOrEditDialog(sliderItem)">
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="حذف" class="action" mat-mini-fab color="warn" style="transform: scale(0.6);"
                (click)="deleteSliderItem(sliderItem.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let sliderItem; columns: columnsToDisplay"></tr>
</table>
