
<mat-toolbar>
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>نام کاربری</mat-label>
    <input type="text" matInput  min="1" [(ngModel)]="userName" placeholder="نام کاربری">
  </mat-form-field>
  <button mat-mini-fab color="primary" style="transform: scale(0.6);" (click)="getUser()" [disabled]="!userName">
    <mat-icon>sort</mat-icon>
  </button>
</mat-toolbar>

<mat-card *ngIf="user" style="margin: 2em;">
  <mat-card-content>
    <p>نام کاربری: {{user.userName}}</p>
    <p>نام و نام خانوادگی: {{user.firstName}} - {{user.lastName}}</p>
    <p>شهر: {{user.city}}</p>
    <p>کشور: {{user.country}}</p>
    <p>سن: {{user.age}}</p>
    <p>جنسیت:
      <button mat-stroked-button color="primary" *ngIf="user.gender == 0">نامشخص</button>
      <button mat-stroked-button color="primary" *ngIf="user.gender == 1">مونث</button>
      <button mat-stroked-button color="primary" *ngIf="user.gender == 2">مذکر</button>
    </p>
    <p>وضعیت اشتغال
      <button mat-stroked-button color="primary" *ngIf="user.employed">شاغل</button>
      <button mat-stroked-button color="primary" *ngIf="!user.employed">غیرشاغل</button>
    </p>
    <p>تاریخ ثبت: {{user.createdAt | PersianDate:false}}</p>

    <span *ngIf="!expired">
      <p>آخرین اشتراک ثبت شده کاربر:
      <button mat-stroked-button color="primary" *ngIf="user.subscriptionType == 1">یک ماهه</button>
      <button mat-stroked-button color="primary" *ngIf="user.subscriptionType == 2">شش ماهه</button>
      <button mat-stroked-button color="primary" *ngIf="user.subscriptionType == 3">یکساله</button>
    </p>
    <p>انقضای اشتراک: {{user.subscriptionExpirationDate | PersianDate: false}}</p>
    </span>

    <span *ngIf="expired">
      <p>وضعیت اشتراک:
        <button mat-stroked-button color="accent">اشتراک ندارد</button>
      </p>
    </span>

    <p>نوع حساب:
      <button mat-stroked-button color="primary" *ngIf="user.userType == 0">کاربر</button>
      <button mat-stroked-button color="primary" *ngIf="user.userType == 1">فروشنده</button>
      <button mat-stroked-button color="primary" *ngIf="user.userType == 2">سایر</button>
    </p>
    <p>شناسه کاربر: {{user.id}}</p>
  </mat-card-content>
</mat-card>
