<div class="centered-container">
  <mat-card [dir]="'rtl'">
    <mat-card-title>ورود به پنل کاربری</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="login()">

        <mat-error *ngIf="error">{{ error }}</mat-error>

        <mat-form-field color="accent">
          <mat-label>نام کاربری</mat-label>
          <input type="text" matInput formControlName="userName" maxlength="40"/>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>رمز عبور</mat-label>
          <input type="password" matInput formControlName="password" maxlength="40"/>
        </mat-form-field>

        <div class="button">
          <button mat-raised-button color="warn" [disabled]="!loginForm.valid" type="submit">
            ورود
          </button>
        </div>

        <div class="register">
          <a [routerLink]="['/register']">ثبت نام</a>
        </div>
        <div class="register">
          <a [routerLink]="['/landing']">بازگشت به صفحه اصلی</a>
        </div>
      </form>
    </mat-card-content>
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
  </mat-card>
</div>
