<ion-content [fullscreen]="true">

  <!-- <div class="spinner" *ngIf="!courseDetail"> -->
    <!-- <ion-spinner></ion-spinner> -->
  <!-- </div> -->

  <!-- episodes -->
  <!-- <ion-list dir="rtl" *ngIf="courseDetail">
    <ion-item *ngFor="let episode of courseDetail.episodes">
      <ion-avatar slot="start">
        <ion-icon name="headset-outline" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{episode.title}}</h2>
        <p>
          {{episode.description}}
        </p>
        <audio controls style="width: 100%;">
          <source src="{{episode.filePath}}" type="audio/mpeg">
        </audio>
      </ion-label>
    </ion-item>
  </ion-list> -->

</ion-content>