<mat-toolbar>
  <span>{{ 'مجموع درآمد شما: ' }}{{ totalSaleAmount | number }}{{ ' ریال' }}</span>
  <span class="spacer"></span>
  <button mat-mini-fab color="accent" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>

<table mat-table [dataSource]="checkouts">

  <ng-container matColumnDef="amountToCheckout">
    <th mat-header-cell *matHeaderCellDef>مبلغ پرداختی</th>
    <td mat-cell *matCellDef="let checkout"> {{checkout.amountToCheckout | number}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>تاریخ ثبت درخواست</th>
    <td mat-cell *matCellDef="let checkout"> {{checkout.createdAt | PersianDate }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>وضعیت</th>
    <td mat-cell *matCellDef="let checkout">
      <button mat-stroked-button color="accent" *ngIf="checkout.status === true">تصفیه شده</button>
      <button mat-stroked-button color="primary" *ngIf="checkout.status === false">در انتظار پرداخت</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="paymentReceipt">
    <th mat-header-cell *matHeaderCellDef>رسید پرداخت</th>
    <td mat-cell *matCellDef="let checkout">
      {{checkout.paymentReceipt}}
      <span *ngIf="!checkout.paymentReceipt">در انتظار پرداخت</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="paidAt">
    <th mat-header-cell *matHeaderCellDef>تاریخ پرداخت</th>
    <td mat-cell *matCellDef="let checkout">
      <span *ngIf="checkout.paidAt">{{checkout.paidAt | PersianDate}}</span>
      <span *ngIf="!checkout.paidAt">در انتظار پرداخت</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let checkout">
      <div class="actions" *ngIf="checkout.status">
        <button matTooltip="مشاهده تصویر رسید" mat-mini-fab color="primary" style="transform: scale(0.6)"
                (click)="openReceiptInfoDialog(checkout)">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let checkout; columns: columnsToDisplay"></tr>

</table>
