@using API.Dtos
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model API.Dtos.PaymentResultDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@Model.RefId</h1>
    @* a link back to mobile app *@
</body>
</html>

