@using API.Dtos
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model API.Dtos.PaymentResultDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div {
        text-align: center;
        margin-top: 3em;
    }
</style>
<body>
    <div>
        <p>پرداخت شما موفقیت آمیز بود</p>
        <h1>رسید پرداخت @Model.RefId</h1>
        @* a link back to mobile app *@
    </div>    
</body>
</html>

